.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}
.content {
  flex: 1 0 auto;
}

.feynman-triangle {
  display: flex;
  justify-content: center;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.rotated {
  transform : rotate(66deg); 
}

.feynman-triangle__edge {
  border: 1px solid black;
  position: absolute;
}

.feynman-triangle__controls {
  position: absolute;
  top: 300px;
  left: 400px;
}

.feynman-triangle__edge--A {
  top: 50px;
  left: 450px;
}

.feynman-triangle__edge--B {
  top: 10px;
  left: 650px;
}

.feynman-triangle__edge--C {
  top: 100px;
  left: 650px;
}

a {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease-in-out;
}

.navigation {
  display: flex;
  flex-direction: row;
  background: #7486a3;
}

.navigation__main-menu {
  flex: 11;
  display: flex;
  flex-direction: row;
}

.navigation__main-menu--first {
  flex: 1;
  position: relative;
}

.navigation__main-menu__home-link {
  position: absolute;
  height: 75%;
  width: 4vw;
  top: 12.5%;
  left: 2vw;
  color: white;
}

.navigation__main-menu__main-link {
  flex: 1;
  min-height: 40px;
  width: 100%;
  border: none;
  background-color: #7486a3;
  cursor: pointer;
  border-left: 1px solid #95a8c7;
}

.navigation__main-menu__main-link button {
  width: 100%;
  cursor: pointer;
  border: none;
  background-color: inherit;
  font-size: 18px;
  font-weight: 600;
  padding: 10.5px 0;
  color: white;
  letter-spacing: 0.17px;
}

.navigation__main-menu--first:hover,
.navigation__main-menu--first:focus,
.navigation__main-menu__main-link:hover,
.navigation__main-menu__main-link:focus{
  animation: navHover both ease-out;
  animation-duration: 0.5s;
}

@keyframes navHover {
  0% {
    background-color: inherit;
  }
  100% {
    background-color: #95a8c7;
  }
}

.main-container {
  min-height: 530px;
  background: linear-gradient(0deg, #bac1cf, #c0c5cf, #dfe2e8);
}

.content-container__header {
  width: 100%;
  height: auto;
  padding-top: 75px;
}

.content-container__header h1 {
  font-weight: 600;
  font-size: 28px;
  color: #1d1f24;
  letter-spacing: 0.16px;
}

.content-container__header p {
  margin-top: 5px;
  color: #46494f;
  letter-spacing: 0.05px;
}

.large-text-header {
  padding-top: 45px;
}

.main-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  padding-top: 26px;
  align-items: center;
}

.main-menu p {
  font-weight: 600;
  color: #46494f;
  letter-spacing: 0.05px;
}

.main-menu__home-links {
  padding-top: 30px;
  width: 100%;
}

.main-menu__option {
  width: 100%;
  padding: 30px 0;
  margin-bottom: 2px;
  height: auto;
  flex: 1;
  justify-content: center;
  background: linear-gradient(45deg, grey, #43474f, #696b70 10%, #2c2d30 90%);
  border: none;
  color: #ebeff7;
  opacity: 0.6;
}

.main-menu__option--first, .main-menu__option--second {
  position: relative;
  margin-bottom: 0;
}

.main-menu__option--first::before, .main-menu__option--second::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #95a8c7;
}

.main-menu__option:hover, .main-menu__option:focus {
  animation: homePageLinksFocus both ease-out;
  animation-duration: 0.5s;
}

@keyframes homePageLinksFocus {
  0% {
    opacity: 0.6;
  }
  100% {
    filter: brightness(120%);
    opacity: 1;
  }
}

.subCategories-menu--padding {
  padding-top: 0;
}

.elemparticles--option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  padding: 10px;
  border: 1px solid black;
}

.two_paragraphs_text {
  margin-top: 10px;
  padding: 0 100px;
  max-width: 850px;
}

.two_paragraphs_text--first, .two_paragraphs_text--second {
  text-align: justify;
  margin-top: 20px;
}

.bariums-mesons {
  display: flex;
}

.particle-display {
  display: flex;
  border: 1px solid black;
  padding: 100px;
}

.particle {
  border: 1px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 40px;
  white-space: nowrap;
}

.particle-btn {
  border: 1px solid black;
  width: 100px;
  background: lightsteelblue;
  margin: 10px;
}

.instructions {
  width: 400px;
  border: 1px solid black;
  padding: 50px;
  position: absolute;
  left: 230px;
  top: 280px;
  background: lightcoral;
}

.instructions button {
  position: absolute;
  top: 0;
  right: 0;
  background: chocolate;
}

.feynman-diagram--container {
  width: 150px;
  margin: 10px auto;
}

.feynman-diagram {
  display: flex;
  border: 1px solid black;
  padding: 10px;
  list-style-type: none;
}

.footer {
  flex-shrink: 0;
  background: linear-gradient(180deg, #bac1cf, #95a8c7 85%, #7486a3);
}

.hadron-instructions-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px;
}

.hadron-instructions__decay-list {
  border-left: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 40%;
}

.hadron-game-container {
 display: flex;
}

.footer p {
  color: #ebeff7;
  font-weight: 600;
  opacity: 0.9;
  letter-spacing: 0.16px;

}

h1, h2 {
  margin: 0;
  padding: 0;
}